html {
	font-family: 'Open Sans', sans-serif;
	
}

body {
	background-image: url("../images/diamond_upholstery.png");
}

h1 {
	font-size:1.5em;
	font-family: 'Fontdiner Swanky', cursive;
}

h2 {
	font-size:1.3em;
}

p {
	font-size:.9em;
}

.container {
	max-width: 300px;
	margin:auto;	
}

header {
	margin-top:40px;
	margin-bottom: 30px;
	height:50px;
	width:290px;
	background-color:rgb(138, 250, 114);
	text-align: center;
	line-height: 50px;
	margin:5px;
	border:1px solid black;
	border-radius:4px;
}

#game_instructions {
	margin:10px 5px 5px 5px;
	background:lightgray;
	padding:5px;
	border:1px solid black;
	border-radius:4px;
}

#random_number {
	background-color: lightgreen;
	height:100px;
	width:190px;
	margin:5px;
	float:left;
	border: 1px solid black;
	border-radius:4px;
	padding:5px;

}

#wins_losses {
	background: lightblue;
	height:100px;
	width:60px;
	margin:5px;
	float:right;
	border: 1px solid black;
	border-radius:4px;
	padding:5px;

}

#crystals_section {
	clear:both;
	height:70px;
}

.crystal:hover {
	position:relative;
	bottom: 3px;
}

img {
	width:60px;
	height:60px;
	display:inline;
	float:left;
	border: 1px solid black;
	margin:6px;

}


#total_score {
	width: 120px;
	height: 60px;
	background-color: lightgreen;
	margin:5px;
	border: 1px solid black;
	float:right;
	clear:both;
	border-radius:4px;
	padding:5px;
}